{% extends "base.html.twig" %}
{% block title %}  my home page {% endblock %}

{% block body %}

	<div class="jumbotron text-center">
	<h1> Welcome to Home </h1>
	<p> Hello world hello world </p>
</div>
<div class="container">
</div>	


{% endblock %}

